[submodule "3rd_party/libmicrohttpd"]
	path = 3rd_party/libmicrohttpd
	url = https://github.com/Karlson2k/libmicrohttpd.git
[submodule "3rd_party/json"]
	path = 3rd_party/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd_party/libserialport"]
	path = 3rd_party/libserialport
	url = https://github.com/sigrokproject/libserialport.git
